* {
    font-size: 14px;
    
}

hr {
    
    border: 0;
    border-top: 1px solid rgba(1, 82, 98, 0.661);
    max-width: 100%;
    left {float:left;}
}

footer{
    font-size: 10px;
}

.main a:link , .main a:visited {
    color: #06c;
    text-decoration: none;
}

.main a:hover {
    text-decoration: underline;
}

.main a:active {
    color: #FF0000;
}

.downloads a:link , .downloads a:visited {
    color: #151C55;
    text-decoration: none;
}

.downloads a:hover {
    text-decoration: none;
    color: #074AE5;
}

.downloads a:active {
    color: #074AE5;
}

html {
    font-family: "Segoe UI", sans-serif;
    font-weight: 400;
    min-height: 100vh;
    background: linear-gradient(155deg, #fafcff 65%, #a8cfff );
    background-attachment: fixed;
}
body {
    margin: 0;
    padding: 0;
    height: 100vh;
}
.header-content {
    margin: 0px 5px;
    
}

.header-content-right {
    margin: 0px 5px;
    
    
}

.header {
  background: url("grads.png");
  height: 32px;
  position: relative;
  color: white;
  display: flex;
  max-height: 35px;
  min-width: 505px;
}

.container {
    position: absolute;
    width: 100%;
    z-index: 5;
}

.header::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0; 
    background: linear-gradient(to right, #15435c, #0b3347);
    filter:blur(20px) ;
    z-index: -30;
}

.button {
    border-radius: 3px;
    color: white;
    padding: 2px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-flex;
    font-size: 14px;
    margin: 5px 5px;
    cursor: default;
    vertical-align: baseline;
}

.button:hover {
    
    border-radius:3px;
    outline: 1px solid rgba(0,0,0,0.7);
    background: rgba(0, 149, 255, 0.553) url("grads-button.png");
    color: white;
    padding: 2px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-flex;
    font-size: 14px;
    margin: 5px 5px;
    cursor: default;
    vertical-align: baseline;
}

.button:active {
    
    border-radius:3px;
    outline: 1px solid rgba(0,0,0,0.7);
    background: rgba(0, 15, 75, 0.143) url("grads-button.png");
    color: white;
    padding: 2px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-flex;
    font-size: 14px;
    margin: 5px 5px;
    cursor: default;
    vertical-align: baseline;
}

.main {
    width: 100%;
    height: 90%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    animation: fadeInAnimation ease 1.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    
}

.downloads {
    width: 100%;
    height: 90%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    animation: fadeInAnimation ease 1.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.button-right {
    border-radius: 3px;
    color: white;
    padding: 2px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-flex;
    font-size: 14px;
    margin: 5px 5px;
    cursor: default;
    vertical-align: baseline;
    position: a;
    right: 10px;
    position: absolute;
}

.button-right:hover {
    
    border-radius:3px;
    outline: 1px solid rgba(0,0,0,0.7);
    background: rgba(0, 149, 255, 0.553) url("grads-button.png");
    color: white;
    padding: 2px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-flex;
    font-size: 14px;
    margin: 5px 5px;
    cursor: default;
    vertical-align: baseline;
    right: 10px;
    position: absolute;
}

.button-right:active {
    
    border-radius:3px;
    outline: 1px solid rgba(0,0,0,0.7);
    background: rgba(0, 15, 75, 0.143) url("grads-button.png");
    color: white;
    padding: 2px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-flex;
    font-size: 14px;
    margin: 5px 5px;
    cursor: default;
    vertical-align: baseline;
    right: 10px;
    position: absolute;
    
}

.text-down {
    margin: 3px;
    left: 12px;
    text-align: left;
}

.image {
    position: relative;
    z-index: -2;
    margin-right: 16px;
}



.image img {
    -webkit-animation: mover 2s infinite  alternate;
    animation: mover 2s infinite  alternate;
}

.main-text {
    display: inline-block;
}

h1 {
    font-size: 100px;
    font-family: "Segoe UI", sans-serif;
    font-weight: 400;
    color: rgb(72, 142, 176);
    text-shadow: 0 0px 20px #83b3cc;
}

h2 {
    font-size: 26px;
    font-family: "Segoe UI", sans-serif;
    font-weight: 400;
    color: #014f5e;
    text-shadow: 0 0px 20px #83b3cc;
}


h3 {
    font-family: "Segoe UI", sans-serif;
    font-weight: 400;
    font-size: 17px;
    color: #003399;
}

h4 {
    font-family: "Segoe UI", sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin: 0;
}

.download-buttons {
    text-align: left;
}

.download-buttons img {
    margin-top: 5px;
}

@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}


@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media (max-width: 800px) {
    .image img {
      display: none;
    }
}


@media (max-width: 1000px) {
    .image img {
        max-width: 100%;
        height: auto;
    }
}


.aero-button {
    
    border-radius: 3px;
    color: white;
    padding: 2px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-flex;
    font-size: 14px;
    margin: 5px 5px;
    cursor: default;
    vertical-align: baseline;
    min-width: 515px;
    min-height: 57px;
}


.aero-button:hover {
    background-image:url("aero-button.png");
    color: white;
    padding: 2px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-flex;
    font-size: 14px;
    margin: 5px 5px;
    cursor: default;
    vertical-align: baseline;
    min-width: 515px
    
}

.aero-button:active {
    
    border-radius:3px;
    outline: 1px solid rgba(0,0,0,0.7);
    background-image:url("aero-button-pressed.png");
    color: white;
    padding: 2px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-flex;
    font-size: 14px;
    margin: 5px 5px;
    cursor: default;
    vertical-align: baseline;
}
